In [44]:
import sqlite3, time, csv, re, random
import pandas as pd
import numpy as np

In [45]:
sql_conn = sqlite3.connect('database.sqlite')

In [52]:
days_active = "SELECT DISTINCT author, strftime('%w', created_utc) as weekday FROM May2015\
                                WHERE subreddit LIKE 'news'\
                                ORDER BY author LIMIT 50"

In [53]:
df = pd.read_sql(days_active, sql_conn)

In [54]:
df.head()

              author weekday
0  -----BroAway-----       6
1  -----BroAway-----       1
2  -----BroAway-----       4
3          ----0----       3
4       ---JustMe---       0

In [36]:
df.head()

              author weekday
0  -----BroAway-----       4
1          ----0----       3
2       ---JustMe---       0
3          ---ass---       4
4      ---fuckyou---       1